<div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <button mat-stroked-button [routerLink]="['/create-trip']">
        I'm a driver 
        <mat-icon aria-label="Driver">directions_car</mat-icon>
    </button>
    <br />
    <button mat-stroked-button [routerLink]="['/search']">
        I'm a passenger 
        <mat-icon aria-label="Passenger">accessibility_new</mat-icon>
    </button>
    <br />
    <button mat-stroked-button [routerLink]="['/my-trips']">
        My trips
        <mat-icon aria-label="Passenger">near_me</mat-icon>
    </button>
</div>
