<div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
        <input matInput placeholder="Enter your name" [(ngModel)]="username">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="login()">Go!</button>
    <a style="margin-top: 15px" href="https://www.facebook.com/v3.2/dialog/oauth?client_id=974586065913335&redirect_uri=https://kvit.lv/ct/api/fb&state=http://localhost:3000/home" mat-raised-button color="primary" (click)="login()">Login via Facebook</a>
</div>
