@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

app{
  width: 100%;
  height: 100%;
  display: flex;
  max-height: 100%;
  overflow: hidden;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
}
scenario, search, trips, login {
  flex: 1;
  overflow: hidden;
}

a.active {
  background-color: gray;
}

.example-spacer {
  flex: 1 1 auto;
}
.notification {
  font-size: 11px;
  width: 160px;
  line-height: 12px;
  white-space: normal;
}

.notififab {
  position: relative;
  left: 8px;
  color: white!important;
}