<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-toolbar-row>
        <span>trip2repeat</span>
        <span class="example-spacer"></span>
        <mat-icon *ngIf="appState.passengerReqests.length" class="example-icon" [matMenuTriggerFor]="notifications">person_add</mat-icon>
        <mat-icon class="example-icon" [matMenuTriggerFor]="appMenu">more_vert</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<mat-menu #notifications="matMenu">
    <div *ngFor="let request of appState.passengerReqests" mat-menu-item fxLayout="row">
        <div class="notification">{{request.user.username}} wants to join your trip!!!</div>
        <button mat-mini-fab color="primary">
            <mat-icon class="notififab" aria-label="Accept" (click)="respondPassenger(request.trip_id, request.user_id, 'approve')">check</mat-icon>
        </button>
        &nbsp;
        <button mat-mini-fab color="warn">
            <mat-icon class="notififab" aria-label="Decline" (click)="respondPassenger(request.trip_id, request.user_id, 'decline')">clear</mat-icon>
        </button>
    </div>
</mat-menu>
<mat-menu #appMenu="matMenu">
    <button mat-menu-item [routerLink]="['/home']">Go to start</button>
    <button mat-menu-item [routerLink]="['/about']">About</button>
    <button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>
<router-outlet></router-outlet>
