<div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
        <mat-select placeholder="From" [(ngModel)]="from">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="To" [(ngModel)]="to">
            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div fxLayout="row">
        <mat-form-field>
            <mat-select placeholder="Hour" [(ngModel)]="timeH">
                <mat-option *ngFor="let option of hour" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Min" [(ngModel)]="timeM">
                <mat-option *ngFor="let option of min" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="createTrip()">Create!</button>
</div>