.centered {
    text-align: center;
}
.date {
    color: gray;
    text-align: center;
}
.time {
    font-weight: bold;
    text-align: center;
}

.table-container {
    overflow: auto;
    height: 100%;
}