<div class="table-container" fxLayout="column">
    <table fxFlex="100%" mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef class="centered"> When </th>
            <td mat-cell *matCellDef="let element">
                <div class="date">{{element.date | date: 'shortDate'}}</div>
                <div class="time">{{element.date | date: 'HH:mm'}}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="route">
            <th mat-header-cell *matHeaderCellDef class="centered"> Route </th>
            <td mat-cell *matCellDef="let element">
                {{element.from_city}} - {{element.to_city}}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="driver">
            <th mat-header-cell *matHeaderCellDef class="centered"> Driver </th>
            <td mat-cell *matCellDef="let element">
                {{element.user.name}}
            </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef class="centered"> Rating </th>
            <td mat-cell *matCellDef="let element"><div class="centered">{{element.rating * 100}}%</div></td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="places">
            <th mat-header-cell *matHeaderCellDef class="centered"> Seats (available/total) </th>
            <td mat-cell *matCellDef="let element"><div class="centered">{{element.placesLeft}} / {{element.totalPlaces}}</div></td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="centered"></th>
            <td mat-cell *matCellDef="let element">
                <div class="centered">
                    <!-- <button *ngIf="!element.isRegistered" mat-button>
                        <img src="https://en.facebookbrand.com/wp-content/themes/fb-branding/prj-fb-branding/assets/images/fb-logo.png" class="nav-identity__logo" alt="Facebook logo" width="32" height="32" data-reactid=".0.1.0.0.0">
                    </button> -->
                    <button mat-raised-button color="primary" (click)="selectTrip(element.id)">Select</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
