<div fxLayout="column">
        <table fxFlex="100%" mat-table [dataSource]="dataSource">
            <!-- Position Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef class="centered"> When </th>
                <td mat-cell *matCellDef="let element">
                    <div class="date">{{element.date | date: 'shortDate'}}</div>
                    <div class="time">{{element.date | date: 'HH:mm'}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="route">
                <th mat-header-cell *matHeaderCellDef class="centered"> Route </th>
                <td mat-cell *matCellDef="let element">
                    {{element.from_city}} - {{element.to_city}}
                </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="centered"> Status </th>
                <td mat-cell *matCellDef="let element"><div class="centered">Active</div></td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="centered"></th>
                <td mat-cell *matCellDef="let element">
                    <div class="centered">
                        <button mat-raised-button color="primary">Cancel</button>
                    </div>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>